@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Default weight */
}

@layer utilities {
    .animate-fade-in {
      animation: fadeIn 0.3s ease-in-out;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Custom scrollbar styles */
  @layer utilities {
    .scrollbar-custom {
      scrollbar-width: thin;
      scrollbar-color: #E5E7EB transparent;
    }
  
    .scrollbar-custom::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .scrollbar-custom::-webkit-scrollbar-thumb {
      background-color: #E5E7EB;
      border-radius: 3px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background-color: #D1D5DB;
    }
  }